{% extends "base.njk" %}

{% block titulo %}Error{% endblock %}

{% block contenido %}

    <section class="flex flex-col items-center justify-center">
        <div class="flex flex-col items-center justify-center w-full md:w-100 p-5 h-150 mt-10 border border-red-600 rounded-md">
            <span class="icon-[ix--error-filled] text-red-600 size-60"></span>
            <h1 class="text-3xl">Error</h1>

            <div class="mt-10 text-xl rounded-xl p-2 border border-red-700 bg-red-700/20">
                {% if error %}
                    {{ error|safe }}
                {% else %}
                    Error en la aplicación
                {% endif %}
            </div>
        </div>
    </section>
    

{% endblock %}
