{% extends "base.njk" %}

{% block titulo %}Peliculas | Edición{% endblock %}

{% block contenido %}

    <h1 class="text-2xl font-bold text-white mb-4">Edición de pelicula</h1>

    <section class="bg-white/10 rounded-md p-4">
        <form class="flex flex-col gap-4" action="/films/{{ film.id }}" method="post">
            <input type="hidden" name="_method" value="put">
        
            <div class="text-input p-0 flex items-center bg-white/5 rounded-md border border-gray-600">
                <span class="icon-[streamline-plump--film-slate-remix] size-4 ml-3 bg-gray-400"></span>
                <label for="titulo" class="ml-2 text-white font-medium">Titulo:</label>
                <input class="p-2 w-full bg-transparent outline-0 text-white" type="text" name="titulo" id="titulo" placeholder="Titulo de la pelicula..." value="{{ film.titulo }}">
            </div>

            <div class="text-input p-0 flex items-center bg-white/5 rounded-md border border-gray-600">
                <span class="icon-[material-symbols--person] size-5 ml-2 bg-gray-400"></span>
                <label for="director" class="ml-2 text-white font-medium">Director:</label>
                <input class="p-2 w-full bg-transparent outline-0 text-white placeholder-gray-500" type="text" name="director" id="director" placeholder="Director de la pelicula..." value="{{ film.director }}">
            </div>

            <div class="text-input p-0 flex items-center bg-white/5 rounded-md border border-gray-600">
                <span class="icon-[mdi--calendar] size-5 ml-3 bg-gray-400"></span>
                <label for="anyo" class="ml-2 text-white font-medium">Año:</label>
                <input class="p-2 w-full bg-transparent outline-0 text-white placeholder-gray-500" min="0" type="number" name="anyo" id="anyo" placeholder="Año de la pelicula..." value="{{ film.anyo }}">
            </div>

            <div class="text-input p-0 flex items-center bg-white/5 rounded-md border border-gray-600">
                <span class="icon-[pajamas--book] size-4 ml-3 bg-gray-400"></span>
                <label for="sinopsis" class="ml-2 text-white font-medium">Sinopsis:</label>
                <input class="p-2 w-full bg-transparent outline-0 text-white placeholder-gray-500" type="text" name="sinopsis" id="sinopsis" placeholder="Sinopsis de la pelicula..." value="{{ film.sinopsis }}">
            </div>

            <div class="text-input p-0 flex items-center bg-white/5 rounded-md border border-gray-600">
                <span class="icon-[streamline-plump--film-slate-remix] size-4 ml-3 bg-gray-400"></span>
                <label for="genero" class="ml-2 text-white font-medium">Genero:</label>
                <input class="p-2 w-full bg-transparent outline-0 text-white placeholder-gray-500" type="text" name="genero" id="genero" placeholder="Genero de la pelicula..." value="{{ film.genero }}">
            </div>


            <button type="submit" class="button bg-blue-800 cursor-pointer">
                <span class="icon-[material-symbols--edit] size-5 rotate-90"></span>
                <span>Enviar</span>
            </button>
        </form>
    </section>
{% endblock %}