{% extends "base.njk" %}

{% block titulo %}Peliculas | Nuevo{% endblock %}

{% block scripts %} 

<script type="module" src="http://localhost:5173/js/formulario_pelicula.js"></script>

{% endblock %}


{% block contenido %}
    <section class="flex flex-col p-4 items-center">
        <section>
            <h1 class="text-2xl mt-7 mb-5">Registrar una nueva pelicula</h1>
            <form action="/films" method="post" class="flex justify-center gap-10  bg-white/10 rounded-md p-5">
                <!-- Seccion de la imagen -->
                <div class="w-110 overflow-hidden border border-white/20 rounded-md has-user-invalid:border-red-600">
                    <label for="imagen">
                        <div id="icono_imagen" class="flex flex-col size-full justify-center items-center">
                            <span class="icon-[mdi-light--picture] size-70 text-white/20"></span>
                            <span class="text-white/50">Pulsa aqui para subir una imagen</span>
                        </div>
                        <div class="size-full flex flex-col"> 
                            <img id="resultado_imagen" src="" class="object-cover flex-grow hidden">
                            <div class="text-red-600 p-2 hidden" id="imagen_error"></div>
                        </div>
                    </label>
                    <input type="file" class="hidden" id="imagen" accept="image/*">
                    <input type="hidden" id="imagen_enviar" accept="image/*" name="imagen">
                </div>

                <!-- Seccion de datos -->
                <section class=" flex flex-col gap-5">
                    <div class="p-0 m-0 flex flex-col gap-1">
                        <label for="titulo" class="text-gray-400">Titulo</label>
                        <input placeholder="Titulo" id="titulo" name="titulo" 
                            class="text-input p-2 outline-0 border-2 border-white/0 user-invalid:border-red-600/70" required>
                    </div>
                    <div class="p-0 m-0 flex flex-col gap-1">
                        <label for="titulo" class="text-gray-400">Sinopsis</label>
                        <textarea max-length="500" rows="5" placeholder="Sinopsis" id="sinopsis" name="sinopsis"
                            class="text-input p-2 outline-0 resize-none border-2 border-white/0 user-invalid:border-red-600 required"></textarea>
                    </div>

                    <div class="flex gap-5">
                        <span class="tag border border-blue-600 bg-blue-800/20 flex flex-row items-center gap-2 p-2">
                            <span class="icon-[mdi--calendar] size-4.5"></span>
                            <span>
                                <input min="1800" name="anyo" id="anyo" max="2100" type="number" placeholder="Año" type="text" class="outline-0">
                            </span>
                        </span>
                        <span class="tag border  border-purple-600  bg-purple-800/20 flex flex-row items-center gap-2 p-2">
                            <span class="icon-[streamline-plump--film-slate-remix] size-4"></span>
                            <span>
                                <input type="text" minlength="3" name="genero" id="genero"  placeholder="Categoria" type="text" class="outline-0">
                            </span>
                        </span>
                        <span class="tag border border-green-600 flex bg-green-800/20 flex-row items-center gap-2 p-2">
                            <span class="icon-[material-symbols--person] size-5"></span>
                            <span>
                                <input placeholder="Director" name="director" id="director" type="text" class="outline-0 w-100" minlength="3" maxlength="50">
                            </span>
                        </span>
                    </div>
                    <hr class=" border-white/20 mt-5">
                    <div class="flex gap-3">
                        <button type="submit" class="button bg-blue-800 px-5">
                            <span class="icon-[material-symbols--save] size-4.5"></span>
                            <span>Guardar</span>
                        </button>
                        <button type="submit" class="button bg-gray-600 px-5">
                            <span class="icon-[material-symbols--delete-outline] size-5"></span>
                            <span>Limpiar</span>
                        </button>
                    </div>
                </section>
            </form>
        </section>
    </section>
{% endblock %}
