<header>
    <section>

    </section>

    <section class="bg-gray-900 flex h-20 items-center justify-between px-4">
        <div class="text-2xl text-gray-50 p-2">Peliculas</div>
        <nav>
            <ul class="list-none flex">
                <li><a class="p-2 text-gray-50" href="/contactos">Listado de peliculas</a></li>
                <li><a class="p-2 text-gray-50" href="/contactos">Anyadir pelicula</a></li>
                <li><a class="p-2 text-gray-50" href="/contactos">Modificar pelicula</a></li>
                <li><a class="p-2 text-gray-50" href="/contactos">Eliminar pelicula</a></li>
            </ul>
        </nav>
    </section>
</header>